{% extends "skeleton.html" %}
{% block content %}
<h2>Listado de Subastas</h2>
<div class="row">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Enlace</th>
                    <th scope="col">PVP</th>
                    <th scope="col">P.Esperado</th>
                    <th scope="col">Riesgo</th>
                    <th scope="col">P. Final</th>
                    <th scope="col" colspan="2" width="1%"></th>
                </tr>
            </thead>
            <tbody>
            # Loops go here
            </tbody>
        </table>
</div>

{% endblock %}