{% extends "skeleton.html" %}
{% block content %}
<h2>Listado de Subastas</h2><br/>

<h3>Añadir subasta</h3>
<form action="/auctions/add" data-toggle="validator" autocomplete="off" method="post">
    <input type="hidden" name="auction_id" value="" id="auction_id"/>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="name">Nombre</label>
            <input type="text" class="form-control" id="name" name="name" required="required"
                   placeholder="Nombre del Producto">
        </div>
        <div class="form-group col-md-4">
            <label for="link">Enlace (Opcional)</label>
            <input type="text"
                   pattern="(https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9]\.[^\s]{2,})"
                   class="form-control" id="link" name="link" placeholder="Amazon, Ebay, Yahoo Auctions...">
        </div>
        <div class="form-group col-md-4">
            <label for="normal_price">PVP</label>
            <input type="number" step="0.01" class="form-control" id="normal_price" required="required"
                   name="normal_price"
                   placeholder="P.V.P">
        </div>
        <div class="form-group col-md-4">
            <label for="wanted_price">Precio Esperado</label>
            <input type="number" step="0.01" class="form-control" id="wanted_price" required="required"
                   name="wanted_price"
                   placeholder="Precio">
        </div>
        <div class="form-group col-md-4">
            <label for="risk">Riesgo</label>
            <input type="number" step="0.01" class="form-control" id="risk" name="risk" required="required"
                   placeholder="En porcentaje">
        </div>
        <div class="form-group col-md-4">
            <label for="final_price">Precio Final (Opcional)</label>
            <input type="number" step="0.01" class="form-control" id="final_price" name="final_price"
                   placeholder="Precio Final">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Insertar</button>
</form>

<div class="data-table">
    <h3>Subastas realizadas</h3>
    <table data-datatable="1" class="table table-bordered table-striped table-hover no-pad">
        <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Enlace</th>
            <th scope="col">PVP</th>
            <th scope="col">P.Esperado</th>
            <th scope="col">Riesgo</th>
            <th scope="col">P. Final</th>
            <th scope="col" width="1%"></th>
        </tr>
        </thead>
        <tbody>
        {% if auctions.count() > 0 %}
        {% for auction in auctions %}
        <tr>
            <td>{{auction.name}}</td>
            <td><a href="{{auction.link}}">{{auction.link}}</a></td>
            <td>{{auction.normal_price}}</td>
            <td>{{auction.wanted_price}}</td>
            <td>{{auction.risk}}</td>
            <td>{{auction.final_price}}</td>
            <td>
                <form action="/auctions/delete" method="post">
                    <input type="hidden" name="auction_id" value="{{auction.key.urlsafe()}}">
                    <button>X</button>
                </form>
                <button class="update_auction" data-auction-id="{{auction.key.urlsafe()}}">(M)</button>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
        </tbody>
    </table>
</div>

{% endblock %}

{% block scripts %}
<script>
    'use strict';
    $(".update_auction").click(function () {
        var $this = $(this);
        var auctionId = $this.data("auctionId");
        var $form = $this.parent().parent();
        var name = $form.find("td:nth-child(1)").text();
        var link = $form.find("td:nth-child(2)").text();
        var normalPrice = $form.find("td:nth-child(3)").text();
        var wantedPrice = $form.find("td:nth-child(4)").text();
        var risk = $form.find("td:nth-child(5)").text();
        var finalPrice = $form.find("td:nth-child(6)").text();
        $("#auction_id").val(auctionId);
        $("#name").val(name);
        $("#link").val(link);
        $("#normal_price").val(normalPrice);
        $("#wanted_price").val(wantedPrice);
        $("#risk").val(risk);
        $("#final_price").val(finalPrice);

    });
</script>

{% endblock %}