{% extends "skeleton.html" %}
{% block content %}
<h3>Nuevo intento de compra (Subasta)</h3>

<form>
    <div class="form-group">
        <label for="name">Nombre</label>
        <input type="text" class="form-control" id="name" placeholder="Nombre del Producto">
    </div>
    <div class="form-group">
        <label for="description">Descripción</label>
        <input type="text" class="form-control" id="description" placeholder="Breve descripción">
    </div>
    <div class="form-group">
        <label for="link">Enlace (Opcional)</label>
        <input type="text" class="form-control" id="link" placeholder="Amazon, Ebay, Yahoo Auctions...">
    </div>
    <div class="form-group">
        <label for="normal_price">PVP</label>
        <input type="text" class="form-control" id="normal_price" placeholder="Precio de Venta al Público">
    </div>
        <div class="form-group">
        <label for="wanted_price">Precio Esperado</label>
        <input type="text" class="form-control" id="wanted_price" placeholder="Precio Esperado">
    </div>
        </div>
    <div class="form-group">
        <label for="risk">Riesgo Asumible</label>
        <input type="text" class="form-control" id="risk" placeholder="En Porcentaje">
    </div>
    <div class="form-group">
        <label for="final_price">Precio Final</label>
        <input type="text" class="form-control" id="final_price" placeholder="En Porcentaje">
    </div>
</form>

{% endblock %}