{% extends "skeleton.html" %}
{% block content %}
<div class="starter-template">
    <h1>Elige una opción, {{user_name}}.</h1><br/>

    <div class="container">
        <div class="row">
            <a href="/items">

                <div class="card" style="width: 18rem;">
                    <img class="card-img-top"
                         src="https://static-news.moneycontrol.com/static-mcnews/2017/03/buy3-770x433.jpg"
                         alt="Compras">
                    <div class="card-body">
                        <h5 class="card-title">Compras</h5>
                        <p class="card-text">Gestiona tus compras. Puedes añadir, modificar y borrarlas para saber
                            cuanto te
                            has
                            gastado hasta el momento.</p>
                    </div>
                </div>
            </a>

            <a href="/auctions">
                <div class="card" style="width: 18rem">
                    <img class="card-img-top"
                         src="https://d2bs8hqp6qvsw6.cloudfront.net/article/images/740x500/dimg/dreamstime_l_62880217.jpg"
                         alt="Subasta">
                    <div class="card-body">
                        <h5 class="card-title">Subastas</h5>
                        <p class="card-text">Gestiona tus subastas. Añade una nueva subasta para no perderla de vista y
                            define
                            cuanto estás dispuesto a arriesgar.</p>
                    </div>
                </div>
            </a>
        </div>
    </div>

</div>
{% endblock %}