{% extends "skeleton.html" %}
{% block content %}
<div class="starter-template">
    <h1>Elige una opción, {{user.nickname()}}.</h1><br/>

    <div class="container">
        <div class="card-deck">
            <div class="card">
                <a href="/items">
                    <img class="card-img-top"
                         src="https://i.imgur.com/D0REIC7.png"
                         alt="Compras">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Compras</h5>
                    <p class="card-text">Gestiona tus compras. Puedes añadir, modificar y borrarlas para saber
                        cuanto te
                        has
                        gastado hasta el momento.</p>
                </div>
            </div>

            <div class="card">
                <a href="/auctions">
                    <img class="card-img-top"
                         src="https://i.imgur.com/lcA4VRB.png"
                         alt="Subasta">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Subastas</h5>
                    <p class="card-text">Gestiona tus subastas. Añade una nueva subasta para no perderla de vista y
                        define
                        cuanto estás dispuesto a arriesgar.</p>
                </div>
            </div>

            <div class="card">
                <a href="/expenses">
                    <img class="card-img-top"
                         src="https://i.imgur.com/jQLiKXy.png"
                         alt="Gastos">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Gastos</h5>
                    <p class="card-text">Visualiza un resumen de tus gastos mensuales.</p>
                </div>
            </div>

        </div>
    </div>

</div>
{% endblock %}