body {
    padding-top: 5rem;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

.data-table {
    margin-top: 20px;
}

.card{
    width: 400px;
}

.no-pad {
    padding: 0 0 0 0;
}

.text-nowrap {
    white-space: nowrap;
}

#navbarFavicon {
    transition: transform .3s ease-in-out;
}
#navbarFavicon:hover {
    transform: rotate(-45deg);
}